{%extends 'admins/adminbase.html'%}

{%block contents%}

<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h2>An Analysis of Machine Learning Classifiers in Breast Cancer Diagnosis</h2><br/>
        <p>To support the Home Manager over the full range of reception, administrative, clerical, and external liaison functions. To support the Home Manager generally by contributing to the efficient and effective running of the home. To undertake certain designated financial functions for which the post-holder will be accountable to the appropriate finance staff. Where appropriate, and when specifically directed by the Home Manager, to undertake administrative and clerical tasks in support of the following key staff: Head Nurse/Head of Care/Deputy Manager, Head Cook, Senior Housekeeper, Activities Co-ordinator, Handyperson.</p>
        <br/>
        <a href="https://ieeexplore.ieee.org/document/9073953" target="_blank" class="btn-get-started scrollto">Get
            Started</a>
    </div>
</section>

{%endblock%}

