{%extends 'base.html'%}

{%block contents%}

<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h2>An Analysis of Machine Learning Classifiers in Breast Cancer Diagnosis</h2><br/>
        <p>In the field of assisted cancer diagnosis, it is expected
            that the involvement of machine learning in diseases will give
            doctors a second opinion and help them to make a faster / better
            determination. This website aims to evaluate
            the predictive models of machine learning classification regarding
            the accuracy, objectivity, and reproducible of the diagnosis of
            malignant neoplasm with fine needle aspiration. Also, we seek to
            add one more class for testing in this database as recommended in
            previous studies. We present six different classification methods:
            Multilayer Perceptron, Decision Tree, Random Forest, Support
            Vector Machine and Deep Neural Network for evaluation. </p>
        <br/>
        <a href="https://ieeexplore.ieee.org/document/9073953" target="_blank" class="btn-get-started scrollto">Get
            Started</a>
    </div>
</section>

{%endblock%}

